
<body>
    <h2>Borrar Producto</h2>
    <form method="POST" action="/borrar">
        <input type="hidden" name="id" value="producto_id">
        Nombre: <input type="text" name="nombre" value='nombre'><br>
        Descripción: <input type="text" name="descripcion" value='descripcion'><br>
        Precio: <input type="text" name="precio" value="precio"><br>
        Existencias: <input type="text" name="existencias" value='existencias'><br>
        <input type="submit" value="Borrar">
        <input type="submit" value="Cancelar">
    </form>
</body>

